@page "/authentication/login"
@using WebUi.Services
@using Blazored.LocalStorage
@inject IUser userService
@inject NavigationManager navigationManager
@inject IJSRuntime js
@inject ILocalStorageService localStorageService
@attribute [AllowAnonymous]

<Row>
    <Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnTablet">
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Annotation Validation</CardTitle>
            </CardHeader>
            <CardBody>
                <Validations Mode="ValidationMode.Auto" Model="@loginModel">
                    <Validation>
                        <Field Horizontal>
                            <FieldLabel RequiredIndicator ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Email</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                                <TextEdit Placeholder="Enter email" @bind-Text="@loginModel.Email">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field Horizontal>
                            <FieldLabel RequiredIndicator ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Password</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                                <TextEdit Role="TextRole.Password" Placeholder="Password" @bind-Text="@loginModel.Password">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Field Horizontal JustifyContent="JustifyContent.End">
                        <FieldBody ColumnSize="ColumnSize.Is9.Is3.WithOffset">
                            <Button Color="Color.Primary" @onclick="HandleSubmit">Submit</Button>
                        </FieldBody>
                    </Field>
                </Validations>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    public Swagger.Login loginModel = new Swagger.Login();

    public async Task HandleSubmit()
    {
        if (loginModel is null)
            return;

        var result = await userService.LoginUser(loginModel);
        if (result.Success)
        {
            await localStorageService.SetItemAsync<string>("JwtToken", result!.AccessToken!);
            navigationManager.NavigateTo("/");

        }
        else
        {
            await js.InvokeVoidAsync("alert", result.Message);
        }
    }
}

